<div class="skills" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="0px">
  <div fxFlex="0 1 auto">
    <h3>Skills</h3>
  </div>
</div>
<div class="skills--content" fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="0px">
  <div fxFlex="0 1 auto" fxFlex.lt-sm="0 1 100%">
    <ul class="skills--list">
      <li>One</li>
      <li>One</li>
    </ul>
  </div>
  <div fxFlex="0 1 auto" fxFlex.lt-sm="0 1 100%">
    <ul class="skills--list">
      <li>Two</li>
      <li>Two</li>
    </ul>
  </div>
  <div fxFlex="0 1 auto" fxFlex.lt-sm="0 1 100%">
    <ul class="skills--list">
      <li>Three</li>
      <li>Three</li>
    </ul>
  </div>
</div>