@import '~src/assets/styles/color-palette';

.brand {
    font-size: 20px;
}

.navbar {
    background: $two;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 0px 0px 5px 0px $four;

    &--link {
        &::after {
            content: '';
            display: block;
            border-bottom: 1px solid $four;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }
        &:hover::after, &:focus::after {
            transform: scaleX(1);
        }

        &--active {
            border-bottom: 1px solid $four;
        }
    }
}

