<div
  #navbar
  (mouseover)="onMouseover()"
  (mouseleave)="onMouseleave()"
  class="navbar"
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
  fxLayoutGap="0px"
>
  <div
    fxFlex="0 1 auto"
    fxFlex.lt-sm="100%"
  >
    <a routerLink="/">
      <span class="brand">Blaise2s</span>
    </a>
  </div>
  <div
    fxFlex="0 1 auto"
    fxFlex.lt-sm="100%"
  >
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div fxFlex="0 1 auto" *ngFor="let menuItem of menuItems">
        <a
          class="navbar--link"
          [routerLink]="menuItem.route"
          routerLinkActive="navbar--link--active"
        >
          {{menuItem.displayText}}
        </a>
      </div>
    </div>
  </div>
</div>