@import '~src/assets/styles/global';

.landing-page-container {
    // height: 100%;
    @extend .content-height-sub-header;
    background-image: url(/assets/images/toad3.jpg);
    background-size: cover;
    background-position: center;
    opacity: .8;
}